.empty-slider-container {
  width: 100%;
  margin: 0;

  .empty-slider {
    .slick-next {
     // top: 220px;
      right: 10px;
      z-index: 10;
      &::before {
        content: url(../../../images/svg/next_icon.svg);
      }
    }

    .slick-prev {
    //  top: 220px;
      left: 0;
      z-index: 10;

      &::before {
        content: url(../../../images/svg/back_icon.svg);
      }
    }

    .slick-dots {
      top: 60px;
      left: 50%;
      max-height: 60px;
      transform: translateX(-50%);

      li {
        button {
          margin-top: -3px;
          &::before {
            color: transparent;
            width: 9px;
            height: 9px;
            font-family: unset;
            font-size: 20px;
            border-radius: 50%;
            border: 2px solid #fff;
            box-sizing: border-box;
          }
        }
      }

      li.slick-active {
        button {
          margin-top: 0px;
          &::before {
            width: 15px;
            height: 15px;
          }
        }
      }
    }

    .slick-list {
      .slick-track {
        align-items: center;
        display: flex;
        justify-content: center;

        .slick-slide {
          position: relative;
        }
      }
    }
  }
}
