.title-bar-container {
  padding: 16px 0;
  height: 312px;
  background-color: $site-bg;

  @media screen and (max-width: $tablet-small) {
    height: 262px;
  }
}

.title-bar {
  height: 280px;
  background: white;
  position: relative;

  @media screen and (max-width: $tablet-small) {
    height: 230px;
  }

  .title-left {
    height: 280px;

    @media screen and (max-width: $tablet-small) {
      height: 230px;
    }

    max-width: 712px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    @media screen and (max-width: 1600px) {
      padding-left: 24px;
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
      position: absolute;
      max-width: 100%;
      text-align: center;
      padding: 0 24px;
    }

    h2 {
      font-weight: 500;
      font-size: 32px;
      line-height: 120%;
      color: #000000;
      margin-bottom: 30px;

      @media screen and (max-width: $tablet-small) {
        font-size: 24px;
      }
    }
    p {
      color: rgba(0, 0, 0, 0.8);
      font-size: 20px;
      line-height: 150%;
      margin-bottom: 0;

      @media screen and (max-width: $tablet-small) {
        font-size: 16px;
      }
    }
  }
  .title-right {
    height: 280px;
    overflow: hidden;
    padding-right: 0;

    @media screen and (max-width: 1600px) {
      max-width: 35%;
    }

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
}
