// Variables
$primary: #ffc920;
$primary-hover: #aa8b00;
$gold: #a8916d;
$yellow: #f4e3c5;

$secondary: #293455;

$base: #000;
$darkgray2: #1b1b1b;
$darkgray1: #424242;
$silver: #b4b4b4;
$white70: rgba(255, 255, 255, 0.7);

// Breakpoints
$mobile: 576px;
$tablet-small: 768px;
$tablet: 992px;
$tablet-big: 1024px;
$laptop: 1200px;
$desktop: 1400px;
$fullhd: 1920px;

$site-bg: #323232;
