// Import this for all pages
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Serif:opsz,wght@8..144,700&display=swap');
@import "./theme/variables";
@import "./theme/mixins";
@import "./components/components";
@import "./templates/project";
@import "./pages/pages";

* {
  scroll-behavior: smooth;
}

a {
  color: $primary;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $yellow;
  }
}

html {
  body {
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    @include poppins;
    background-color: #323232;
    color: white;
    max-width: 1920px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  .w-300 {
    font-weight: 300;
  }

  .w-400 {
    font-weight: 400;
  }

  .w-500 {
    font-weight: 500;
  }

  .w-700 {
    font-weight: 700;
  }

  strong {
    font-weight: 700;
  }
}

.navbar-toggler {
  margin-right: 16px;
  .navbar-toggler-icon {
    width: 1.35rem;
    height: 1.35rem;
  }
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
}

.slick-prev,
.slick-next {
  width: 30px;
  height: 30px;
}

.slick-prev {
  left: 0;
  z-index: 10;
}
.slick-next {
  right: 0;
}

blockquote {
  font-style: italic;
  font-size: 140%;
  margin: 40px 0px;
  padding: 0 30px;
  color: rgba(255, 255, 255, 0.7);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin-top: 60px;
}

.serif {
  font-family: "Roboto Serif", Georgia, 'Times New Roman', Times, serif;
}
