.project-container {
  margin-top: 0;
  position: relative;
  max-width: 1920px;
  width: 100%;
  color: white;
  background-color: black;

  .content {
    padding-top: 40px;
    padding-left: 12px;
    padding-right: 12px;

    .decoration {
      text-align: center;
      margin: 0 auto;
      svg {
        transform: scale(0.8);
      }
    }

    h1 {
      text-align: center;
      width: 100%;
      padding: 0 24px;
      font-weight: 800;
      font-size: 48px;
      line-height: 120%;
      color: #fff;
      margin-bottom: 60px;
      margin-top: 12px;

      @media screen and (max-width: $tablet-small) {
        font-size: 36px;
        margin-bottom: 40px;
      }
    }
    .description {
      max-width: 1440px;
      width: 100%;
      margin: 0 auto;

      p {
        margin-bottom: 1.5rem;
      }

      b,
      strong {
        display: block;
        font-weight: 700;
      }

      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: #fff;

      @media screen and (max-width: $tablet-small) {
        font-size: 16px;
      }
    }
  }
}
