header.header {
  background: white;
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    .navbar-brand {
      padding-left: 30px;
      display: inline-flex;
      background: $primary;
      width: 253px !important;
      height: 60px;

      .site-logo {
        height: 28px;
        width: auto;
      }

      @media screen and (max-width: 576px) {
        width: 232px !important;
        padding-left: 30px;
      }
      align-items: center;
    }
  }

  .mobile-menu-container {
    padding-left: 59px;
  }

  .mobile-menu-container.navbar-collapse.collapse.show {
    padding-left: 69px;
    border-bottom: 1px solid #ccc;
    .d-flex.navbar-nav {
      max-width: 400px;
    }

    @media screen and (max-width: 576px) {
      padding-left: 30px;
    }
  }

  .navbar-collapse,
  .offcanvas {
    justify-content: flex-end;
  }
}
.offcanvas {
  &.offcanvas-end {
    right: -40px;
  }
  .offcanvas-header {
    border-bottom: 1px solid #ccc;
    background: lightgray;
    padding: 0.83rem 1rem;
    margin-right: 40px;

    .offcanvas-logo {
      max-width: 172px;
    }
  }
  a.nav-link {
    margin-bottom: 0.5rem;
    font-weight: 400;

    &:last-of-type {
      margin-top: 0.5rem;
    }

    &.active {
      &::before {
        left: 17px;
      }
    }
    &::after {
      left: 17px;
    }
  }
}

.nav.nav-link,
a.nav-link {
  position: relative;
  padding-right: 21px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: black !important;
  overflow: hidden;

  &.active {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 8px;
      width: 30px;
      height: 5px;
      background-color: black;
    }
  }

  /* Fade in */
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 8px;
    width: 30px;
    height: 5px;
    background-color: black;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: translate3d(-100%, 0, 0);
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  &:hover {
    color: $primary;
  }
}

.justify-content-start.navbar-nav {
  a {
    margin-right: 10px;
  }
}

.contact-navbar {
  margin-right: 40px;

  a {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;

    &:first-child {
      margin-right: 36px;
    }

    &:hover,
    &:focus {
      transition: 0.4s all;
      color: rgba(0, 0, 0, 1);
      text-decoration: underline;
    }
  }
}

.offcanvas-contact-navbar {
  margin-left: 14px;
  margin-top: 30px;
  color: #000;
  & > div {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 16px;
  }

  a {
    color: #000;
    text-decoration: none;
    &:hover,
    &:focus {
      color: #000;
      text-decoration: underline;
    }
  }
}
